<mat-card *ngIf="assignmentTransmis">
  <div class="">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <mat-card-subtitle>Devoir {{getRendu(assignmentTransmis.rendu)}}</mat-card-subtitle>
  </div>
  <div class="">
    <p>Matière : {{assignmentTransmis.matiere}}</p>
    <p *ngIf="assignmentTransmis.rendu">Note : {{assignmentTransmis.note}}</p>
    <p>Remarques : <br> {{assignmentTransmis.remarques}}</p>
  </div>

  <div class="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu && assignmentService.user?.role=='Eleve'"
      (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>
    <button mat-stroked-button color="primary" (click)="onClickEdit()" class="editbutton"
      *ngIf="assignmentService.user?.role=='Professeur'">
      EDIT
    </button>
    <button mat-raised-button color="accent" (click)="onDeleteAssignment()" *ngIf="assignmentService.user?.role=='Professeur'">
      DELETE
    </button>
  </div>
</mat-card>