mat-card{
  margin: 40px;
  border-radius: 19px;
}

.bottom {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap:15px;
}

.editbutton{
  border-color: rgba(0, 0, 0, 0.12);
  background-color: #fca85f;
  color: #9d062e !important;
  margin-top: 15px;
  font-weight: 600;
}
