.form-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1a1826;
  border-radius: 19px;
  padding: 50px 70px;
  width: 450px;
}

p {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 7px;
  text-align: center;
}

:host::ng-deep .mat-raised-button:not([class*="mat-elevation-z"]) {
  border-color: rgba(0, 0, 0, 0.12);
  background-color: #fca85f;
  color: #9d062e;
  font-size: 18px;
  font-weight: 600;
  padding: 3px;
  border-radius: 12px;
}

:host::ng-deep .mat-raised-button:not([class*="mat-elevation-z"]):disabled {
  color: black;
  background: #393a56;
}
