<main class="form-signin">
  <div class="container">
    <form ngForm>
      <p>Se connecter</p>
  
      <mat-form-field>
        <input matInput placeholder="Identifiant" [(ngModel)]="nameUser" name='name'>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Mot de passe" [(ngModel)]="mdp" name='mdp' type="password">
      </mat-form-field>
  
      <button mat-raised-button type="submit" (click)="login()" [disabled]='!nameUser||!mdp'>Valider</button>
  
    </form>
    <form ngForm>
      <p>S'inscrire</p>
  

      <mat-form-field>
        <input matInput placeholder="Identifiant" [(ngModel)]="inscription.identifiant" name='nameInscription'>
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-label>Type d'utilisateur</mat-label>
          <mat-select [(value)]="inscription.typeUser">
            <mat-option value="Eleve">Eleve</mat-option>
            <mat-option value="Professeur">Professeur</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Image de l'utilisateur" [(ngModel)]="inscription.imageUser" name='nameInscription'>
        </mat-form-field>
      </div>


      <div class="row" *ngIf="inscription.typeUser === 'Professeur'">
        <mat-form-field>
          <input matInput placeholder="Matière" [(ngModel)]="inscription.matiere" name='mdpInscription'>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Image de la matière" [(ngModel)]="inscription.imageMatiere" name='mdpInscription'>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Mot de passe" [(ngModel)]="inscription.mdpUser" name='mdpInscription' type="password">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Confirmer" [(ngModel)]="inscription.confirmUser" name='mdpInscription' type="password">
        </mat-form-field>
      </div>
  
      <button mat-raised-button type="submit" (click)="signin()" [disabled]='isDataNotValid()'>Valider</button>
    </form>
  </div>
</main>