.bar {
  background-color: #212031;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 26px 2px;
}

.container {
  display: flex;
  height: calc(100vh - 70px);
}

.page {
  width: -webkit-fill-available;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f67d2e;
  width: 100%;
  height: 70px;
  z-index: 10;
  padding: 0 25px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.menuicon,
h2 {
  color: white;
}

.userbutton {
  color: white;
  font-size: 18px;
}

.userbutton .mat-icon {
  height: unset;
  width: unset;
  font-size: 26px;
}

button {
  height: 40px;
}

:host::ng-deep .mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: white;
  background-color: #212031;
  font-size: 17px;
}

mat-icon {
  font-size: 30px;
}

.iconBar {
  font-size: 21px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
