<div class="column">
  <div class="row">
    <h2>{{ title }}</h2>
  </div>
  <div class="row">
    <mat-slide-toggle (click)="login()">Login</mat-slide-toggle>
    <button mat-raised-button color="primary" (click)="remplirBD()">
      PEUPLER BD
    </button>
  </div>
</div>

<div class="container">
  <div class="bar">
    <a routerLink="/home">
      <button mat-flat-button color="primary">
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <a routerLink="/add">
      <button mat-flat-button color="primary">
        <mat-icon>library_add</mat-icon>
      </button>
    </a>
  </div>

  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>