.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #1a1826;
  border-radius: 19px;
  margin: 40px 80px;
  padding-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

table {
  width: 1000px;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.rendu {
  color: #6a6c8a;
}

.nonRendu {
  color: #f6134f;
  font-weight: 500;
}

.important {
  font-size: 40px;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}
:host::ng-deep .mat-stroked-button:not(.mat-button-disabled) {
  border-color: rgba(0, 0, 0, 0.12);
  background-color: #fca85f;
  color: #9d062e;
}

:host::ng-deep .mat-button.mat-button-disabled,
.mat-icon-button.mat-button-disabled,
.mat-stroked-button.mat-button-disabled,
.mat-flat-button.mat-button-disabled {
  color: black;
  background: #393a56;
}

.nbpage {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 36px;
  margin: 0 10px;
}

/* FILTERS */
.filternom {
  align-items: center;
}

.filterrendu {
  align-items: center;
  height: 37px;
}

:host::ng-deep .mat-form-field-empty.mat-form-field-label,
:host::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}

:host::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: white;
}

:host::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill),
:host::ng-deep .mat-form-field-empty.mat-form-field-label,
:host::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}
