.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.row {
  display: flex;
  flex-direction: row;    
  align-items: center;    
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;;
}

.nbpage{
  display: flex;
  align-items: center;
  gap:3px;
  height: 36px;
  margin:0 10px;
}

table {
  width: 1000px;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.rendu {
  color: green;
}

.nonRendu {
  color: red;
  background-color: yellow;
  border: 3px dashed purple;
}

.important {
  font-size: 40px;
}

.ajouterBtn {
  align-self: flex-end;
}


/* FILTERS */
.filternom{
  align-items: center;
}

.filterrendu{
  align-items: center;
  height: 37px;
}